/*
/* atGrid.css v4.0.0 - Attribute-based CSS Grid System
/* https://github.com/kolcethompsonco/atgrid.css
/* MIT License - James Kolce <james@kolcethompson.com>
*/

//
// Configuration
// ----------------------------------------

// Max width for container
$container-width: 1200px !default;

// Gutter size
$gutter: 2em !default;

// Number of columns in a row
$num-columns: 12 !default;

// Prefix for attributes
$prefix: '' !default;

// Below this size, the columns will collapse
$breakpoint: 420px !default;

//
// Styles
// ----------------------------------------

* {
  box-sizing: border-box;
}

[container] {
  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;
  padding-left: $gutter/2;
  padding-right: $gutter/2;
}

[grid] {
  display: flex;
  margin-left: $gutter / -2;
  margin-right: $gutter / -2;

  // Collapse columns on breakpoint
  @media (max-width: $breakpoint) {
    flex-direction: column;
  }
}

[column] {
  flex: 1;
}

//
// Gutters by default
//

[column] {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
}

//
// No Gutters
//

[grid~="ng"] {
  margin-left: 0;
  margin-right: 0;

  [column] {
    padding-left: 0;
    padding-right: 0;
  }
}

//
// No Collapse columns
//

[grid~="nc"] {
  flex-direction: row;
  flex-wrap: nowrap;
}

//
// Wrap columns
//

[grid~="wrap"] {
  flex-wrap: wrap;
}

//
// Alignment of all columns in a row
//

[grid~="top"] {
  align-items: flex-start;
}

[grid~="center"] {
  align-items: center;
}

[grid~="bottom"] {
  align-items: flex-end;
}

//
// Alignment of individual columns
//

[column~="top"] {
  align-self: flex-start;
}

[column~="center"] {
  align-self: center;
}

[column~="bottom"] {
  align-self: flex-end;
}

@media (min-width: $breakpoint) {
  //
  // Column widths
  //
  @for $i from 1 through $num-columns {
    [#{$prefix}column~="#{$i}"] {
      flex: 0 1 ($i/$num-columns) * 100%;
      max-width: ($i/$num-columns) * 100%;
    }
  }

  //
  // Column offsets
  //
  @for $i from 1 through $num-columns {
    [#{$prefix}column~="+#{$i}"] {
      margin-left: ($i/$num-columns) * 100%;
    }
  }
}
